.blog-title{
    color: var(--c-ink);
    font-weight: 600;
}
.categories-title h6, .categories-title .icon{
    color: var(--n-950);
}
.categories-title{
    color: var(--c-action);
    cursor: pointer;
    transition: 0.6s ease-in;
}
.categories-title:hover > h6{
    color: #7054F2;
}
.categories-title:hover > .icon{
    color: #7054F2;
}